/**/
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400; 1.500;1.600 & display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url(https://cdn.pixabay.com/photo/2022/03/01/18/12/bali-7041811_960_720.jpg);           
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}


.container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card{
  background-color: #ffffff80;
  padding: 50px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #802f7590;
}

h3{
  text-align: center;
  margin-bottom: 30px;
  color: black;
  font-size: 35px;
}

input[type=text] {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 22px;
  transition: all .3s ease-out;
  border-radius: 0;
}

input[type=number] {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 22px;
  transition: all .3s ease-out;
  border-radius: 0;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  color: black;
}

input[type=button] {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

input[type=number] :hover{
  background-color: #ff0000;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content:center; 
} 

h1{
    text-align: center;
}